!!! 5
html(lang="en")
  head

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/application.css" type="text/css" charset="utf-8">

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

    title= locals.pageTitle
  
  body!= body
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/faye.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/raphael.js"></script>
    <script type="text/javascript" src="/js/images.js"></script>
    <script type="text/javascript" src="/js/jquery.birom.js"></script>
