body {
    height:100%;
    background: #000;
    font-family: "Helvetica";
    overflow: hidden;
    margin: 0;
}


/*this is what we want the div to look like*/
div.fullscreen{
  display:block;

  /*set the div in the top-left corner of the screen*/
  position:absolute;
  top:0;
  left:0;
  
  /*set the width and height to 100% of the screen*/
  width:100%;
  height:100%;
}

#field {
    background-image:url('/images/bg/1.jpg');
}

p {
    color: #999;
}

#topbar {
  position: absolute;
  width: 100%;
  top: 0;
}

#topbar .border {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 120px;
  background-image: url(/images/sidebar_top.png);
}

#topbar .content {
  background-color: #323232;
  height: 120px;
  z-index: 101;
  position: relative;
  background-image: url(/images/topbar_bg.png);
  background-repeat: no-repeat;
}

